<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="uk-navbar-container uk-navbar-transparent uk-navbar uk-shad">
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-parent">EAT-THESE-BURGA'S</li>
            </ul>
        </div>
    </nav>

    <div class="uk-section uk-section-default">
        <div class="uk-container burger-pic">
            <img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" width="240" height="240" frameBorder="0" />
        </div>
    </div>

    {{{ body }}}
</body>

<!-- Footer -->
<footer uk-sticky="bottom: true">
    <div class="container">
        <div class="row">
            <a href="https://github.com/DBiles/friender" target="_blank">Github</a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js" integrity="sha256-2vL3vDc2j7XdT1qgHvWPSCmULPhJ6q0bLlPIgPXFQPI="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js" integrity="sha256-eQPdtNjxSg+WO2RwUfv5Jb/ZSlCIfsH6umy+Q9Fpuk0="
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="/js/burger.js"></script>

</html>